  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: sticky; top: 0; z-index: 1020;">
    <div class="container-fluid">
      
      <!-- Sidebar/Menu Icon -->
      <button class="btn">
        <i class="fa-solid fa-bars"></i>
      </button>
  

      <div class="d-flex">

          <div class="dropdown d-none d-md-block">
            <button class="btn dropdown-toggle" style="background-color:  #012b49; color: white;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span style="font-size: small;">Select Category</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            <!-- Search Bar -->
    
            <form class="d-flex " role="search">
              <input class="form-control"  type="search" style="background-color: #b4cde2;width: 40vw;"  placeholder="Search" aria-label="Search">
              <button class="btn" style="background-color:  #012b49; color: white;" type="submit">
                <div class="d-flex align-items-baseline">

                    <i class="fa-solid fa-qrcode"></i>
                    <span class="mx-2">|</span>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </button>
            </form>
      </div>
  
        <!-- Register & Login Buttons -->
        <ul class="navbar-nav" >
          <li class="nav-item me-2 d-none d-md-block">
            <a class="btn " href="#">
              Register
            </a>
          </li>
          <li class="nav-item">
           
            <a class="btn d-none d-md-block" href="#" style="background-color:  #012b49; color: white;">
              Login

              
            </a>
          </li>
        </ul>
  
      </div>

  </nav>